.profile {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: #343330;
  border-radius: 12px;
  width: 80%;
  max-width: 800px;
  height: 200px;
  font-family: Arial;
  font-weight: 600;
}
.profileh1 {
  text-align: center;
  color: #c6dc8b;
  margin: 0 0 0 0;
}
.profileh2 {
  text-align: center;
  font-size: 36px;
  color: #bcf61f;
  margin: 10px 0 0 0;
}
.acceptbtn {
  width: 150px;
  height: 50px;
  background-color: green;
  border: none;
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
  color: aliceblue;
}
.divbtn {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 4px;
}
.removebtn {
  width: 150px;
  height: 50px;
  background-color: rgb(137, 129, 226);
  border: none;
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
  color: aliceblue;
}
.divprofile {
  /* display: flex; */
  justify-content: center;
  background-color: #152221;
  border-radius: 12px;
}
